body{
    background-color: rgb(112, 133, 148);
    padding: 100px;
    color: #ffffff;
    background-image: url(images/title.png);
    }

a {
    color #39ac73;
    text_decoration: none;
    }
    
a:hover {
    color: #206040
    }

h2 (
    text-transform: uppercase;
    font-size: 16px;
)

#location-header {
    border-top: 1px solid #b9afaf;
    margin-top: 48px;
    padding-top: 20px;
}

.price {
     color: #901b2e;
}

#name {
    color: #132630;
}

#name.price {
    color: #003490;
}
